<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SwamiSamarthEntities" connectionString="metadata=res://*/Model.SwamiSamarthModel.csdl|res://*/Model.SwamiSamarthModel.ssdl|res://*/Model.SwamiSamarthModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-TVRU0HE\SQLEXPRESS;Initial Catalog=DBSiddhimotorGSTNew;Persist Security Info=True;User ID=sa;Password=admin@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SwamiSamarthEntities" connectionString="metadata=res://*/Model.SwamiSamarthModel.csdl|res://*/Model.SwamiSamarthModel.ssdl|res://*/Model.SwamiSamarthModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-66VBN2I\SQLEXPRESS;Initial Catalog=DbBharatScal;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>